/*Toute la page*/

*
{
    font-family: 'open_sansregular';
}

body
{
    width: 95%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/*Menu du côté*/

aside
{
    background-color: #FBC02D;
    position: relative;
    left: -10px;
    width: 44em;
}


#page
{
    display: flex;
    flex-direction: row;
}

#PartieD
{
    margin-left: 2.8em;
}

#maphoto
{
    margin-top: 4.2em;
    margin-left: 15%;
    border-radius: 1000px;
    border: 3px solid #FFB300;
}

.Menu
{
    text-align: center;
    background-color: #424242;
    font-size: 2em;
    color: #FBC02D;
}
/*Police*/
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
